.container-text {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100vw;
  padding: 0 5px; /* Añade un pequeño relleno horizontal */
  box-sizing: border-box; /* Asegura que el padding no incremente el ancho total */
}

.section2-text {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 90%; /* Ancho completo */
  max-width: 700px; /* Ancho máximo para evitar desbordamientos */
  margin: 0 auto; /* Centra el texto horizontalmente */
  padding: 2%; /* Añade un poco de espacio alrededor del texto */
  text-align: center;
}

.text-2 {
  font-size: 1rem;
  text-align: justify;
}

.home-images {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.home-images img {
  width: 55%; /* Ajusta el ancho de las imágenes al 55% del contenedor */
  margin: 1% 0; /* Espacio entre las imágenes */
}

/* Estilos para la imagen del medio */
.home-images img:nth-child(2) {
  width: 80%; /* Tamaño más grande para la imagen del medio */
}

@media screen and (min-width: 700px) {
  .home-images {
    flex-direction: row; /* Muestra las imágenes en fila */
  }

  .home-images img {
    width: 25%; /* Ajusta el ancho de las imágenes al 30% del contenedor */
    margin: 0 1%; /* Espacio entre las imágenes */
  }

  /* Estilos para la imagen del medio */
  .home-images img:nth-child(2) {
    width: 50%; /* Tamaño más grande para la imagen del medio */
  }
}

@media screen and (min-width: 1024px) {
  .text-2 {
    font-size: 1.5rem;
  }
  .home-images {
    margin-top: 2%;
    flex-direction: row; /* Muestra las imágenes en fila */
  }

  .home-images img {
    width: 35%; /* Ajusta el ancho de las imágenes al 30% del contenedor */
    margin: 0 1%; /* Espacio entre las imágenes */
  }

  /* Estilos para la imagen del medio */
  .home-images img:nth-child(2) {
    width: 60%; /* Tamaño más grande para la imagen del medio */
  }
}
