.home-section1 {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 55vw;
  background-image: url('../../../assets/img/woman_issues_home.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.home-section1-info {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.section1-info button {
  background-color: var(--primary-color-orange);
  color: #ffffff;
  padding: 10px 50px;
  border: none;
  border-radius: 1.5rem;
  cursor: pointer;
  font-size: 1.1rem;
  margin-top: 85%;
  margin-bottom: 20%;
}

.section1-info button:hover {
  background-color: #030303;
}

/* Estilos para pantallas de 770px o más */
@media screen and (min-width: 770px) {
  
  .section1-info button {
    font-size: 1.8rem;
    margin-top: 55vh;
    margin-bottom: 0%;
  }
}
